.App {
  text-align: center;
  overflow-x: auto; 
  white-space: nowrap;
  scroll-behavior: smooth;
  background-image: url("./images/pandk.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Make the background image fixed */
  color: #211c1c;
  font-size: large;
}



.category {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.category button {
  margin: 1px; 
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-item {
  margin: 10px;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.meal-item {
  width: 22%; 
  margin: 10px; 
  text-align: center;
}

.meal-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

.meal-item p {
  max-height: 60px; /* Set a maximum height for the text container */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-top: 5px;
}

